<head>
  {% block title %}
  <title>LocoNews | {{query}}</title>
  {% endblock %}
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
  <header>
    <nav style="margin-top:10px;">
      <ul id="nav_bar">
        <li id="sign_in"><a href="/">Home</a></li>
        <li id="sign_in"><a href="#">Sign In</a></li>
      </ul>
    </nav>
  </header>

{% block content %}

{% endblock %}


  <!-- FOOTER -->
  <footer>
      <ul class="footer-left">
        <li><a href="#">About</a></li>
				<li><a href="#">Settings</a></li>
      </ul>
      <ul class="footer-right">
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms</a></li>
      </ul>
  </footer>
</body>
