{% extends 'base.html' %}

{% block title %}
<title>LocoNews | Home</title>
{% endblock %}


{% block content %}
  <!-- GOOGLE IMG -->
  <div class="google">
    <a href="/" id="google_logo"><img src="/static/img/logo.png"></a>
  </div>

  <!-- FORM SEARCH -->
  <div class="form">
		<form action="/search/" method="post">
							{% csrf_token %}
      <input type="text" name="place" id="form-search" placeholder="Enter a place" required>

			<div class= "buttons">
		    <input type="submit" value="Loco Search" id="google_search">
		  </div>
    </form>
  </div>
{% endblock %}


  <!-- FOOTER -->
  <footer>
      <ul class="footer-left">
        <li><a href="#">About</a></li>
				<li><a href="#">Settings</a></li>
      </ul>
      <ul class="footer-right">
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms</a></li>
      </ul>
  </footer>
</body>
