{% extends 'base.html' %}

{% block title %}
<title>LocoNews | {{query}}</title>
{% endblock %}

{% block content %}
  <!-- GOOGLE map -->
  <div class="container-fluid">

    <div class="row">
    <iframe class="well well-sm col-xs-12"
      height="450"
      frameborder="0" style="border:1; margin-top: 20px;"
      src={{response}} allowfullscreen>
    </iframe>
  </div>

{% if top_headlines %}
  <div class="container">
    <div class="row">
    <div class= 'col-md-12'>
      <center><h2 style="color:#777777;"> <b>Showing Top News For - {{query}}</b> </h2></center>
      <hr style="width: 100%;">
    </div>
  </div>

  		<div class='row'>
  				{% for article in top_headlines %}
  						<div class="col-md-2">
  								<a class="thumbnail fancybox" rel="ligthbox" href="{{article.url}}" target="_blank">
  								    <img class="img-responsive" alt="" src="{{article.urlToImage}}" alt="/static/img/news.jpg">
  								    <div class='text-center'>
  								        <small class='text'>
  								         {{article.title}}<br>
  												 <b>{{article.source}}</b><br>
                           {{article.publishedAt}}
  								        </small>
  								    </div>
  								</a>
  						</div>

  		{% if forloop.counter|divisibleby:"6" and not forloop.last %}
  		</div>
  	<hr style="width: 100%;">

  	<div class="row">
  		{% endif %}
  		{% endfor %}
  	</div>
  	<hr style="width: 100%;">
  </div>
{% else %}
<div class="container">
  <div class="row">
  <div class= 'col-md-12'>
    <center><h2 style="color:#777777;"> <b>No News Found For - {{query}}</b> </h2></center>
    <hr style="width: 100%;">
  </div>
</div>
</div>
{% endif %}
{% endblock %}


  <!-- FOOTER -->
  <footer>
      <ul class="footer-left">
        <li><a href="#">About</a></li>
				<li><a href="#">Settings</a></li>
      </ul>
      <ul class="footer-right">
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms</a></li>
      </ul>
  </footer>
</body>
